# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/PrecoProduto/nbproject/private/
/PrecoProduto/build/
/TesteSwitch/nbproject/private/
/TesteSwitch/build/
/RepetirNome/nbproject/private/
/RepetirNome/build/
/VetorMatrizNumeroPrimo/nbproject/private/
/VetorMatrizNumeroPrimo/build/
/VetorNew/nbproject/private/
/VetorNew/build/
/FormaEquipeVetor/nbproject/private/
/FormaEquipeVetor/build/